#widgetApp.row.gutter-0
  .col-12-m.trivia-widget
    .inner
      button#searchToggle Find Trivia
        span.mg
      #searchBox
        form#searchForm(name="searchForm")
        #searchResults
      #triviaTonight
