extends inc/page.pug

block page_id
  - var ptitle = "Contact"

block content
  :php
    foreach($page_data['text_blocks'] as $key => $block) {
      switch ($block["title"]) {
        case "Contact Page":
          $content = $block;
          break;
        default:
          break;
      }
    }
  .container-fluid.content
    .row
      .col-xs-12
        h1
          :php
            echo $content["header"]
        .user-content
          :php
            echo $content["Content"];
    .row.booking
      .col-sm-12
        :php
          cockpit("forms:open", "contact");
        .form-message-success
            p Thank You! I'll get back to you real soon..
        .row
          .col-sm-6
            label(for="name") Name
            input#name(name="form[name]")
          .col-sm-6
            label(for="email") Email
            input#email(name="form[email]")
          .col-sm-12
            label(for="message") Message
            textarea#message(name="form[message]")
          .col-sm-12
            button.button(type="submit") Send
        </form>
