extends inc/page.pug

block content
  :php
    $item = null;
    $page_data = $page_data;
    foreach($page_data['text_blocks'] as $key => $block) {
      switch ($block["title"]) {
        case "Front Page Trivia":
          $trivia_blurb = $block;
          break;
        case "Front Page DJ Services":
          $dj_blurb = $block;
          break;
        case "Book Section Header":
          $book_blurb = $block;
          break;
        case "Covid Announcement":
          $covid_blurb = $block;
          break;
        default:
          break;
      }
    }
  .container-fluid
    .row.content
      .col-md-8
        .row.vtop
          .col-md-6
            .block.about-trivia
              .user_content
                h1
                  :php
                    echo $trivia_blurb["header"];
                div
                  :php
                    echo $trivia_blurb["Content"];
          .col-md-6
            .block.book-dj
              .user_content
                h1
                  :php
                    echo $dj_blurb["header"];
                div
                  :php
                    echo $dj_blurb["Content"];
          .col-md-12
            a.button.cta(href="/contact") Book Trivia or a DJ
          include inc/book-section.pug
      .col-md-4
        .block.trivia
          .trivia-widget#triviaWidget
              
  #bookingModal.modal-overlay
    .modal
      .inner.booking
        a(href="#").btn-close!="&times;"
        include inc/booking-form.pug
