extends inc/page.pug

block page_id
  - var ptitle = "Pub Trivia"

block content
  :php
    foreach($page_data['text_blocks'] as $key => $block) {
      switch ($block["title"]) {
        case "Pub Trivia Page":
          $content = $block;
          break;
        default:
          break;
      }
    }
  .row.content
    .col-8-m
      .user-content
        :php
          echo $content["Content"];
    .col-4-m
      #triviaWidget.block.trivia
  .row.booking.content
    .col-8-m
      h1 Book Trivia
      include ./inc/booking-form.pug
