@import '../base/mixins';

.host-thumb {
    @include aspect_ratio(1,1);
    background:$gray;
}
.host-modal {
  color:$black;
}
.host {
    position: relative;
    margin:0 0 $gutter-width/2;
    h2 {
        position: absolute;
        top: 0;
        color: #fff;
        text-shadow: 0 0 2px #000;
        z-index:1;
        font-size:2em;
        top:$gutter-width/4;
        left:$gutter-width/4;
    }

    .bio-link {
        text-align: center;
        text-transform: uppercase;
        position:absolute;
        bottom:$gutter-width/4;
        right:$gutter-width/4;
        background:#000;
        line-height:2;
        padding:0 1em;
        font-weight:bold;
        color:#fff;
    }
}
