#widgetApp.row
  .col-md-12.trivia-widget
    .inner
      button#searchToggle Find Trivia
        span.mg
      #searchBox
        #wrapperSearchForm
          form#searchForm(name="searchForm")
        #searchResults
      #triviaTonight
