.col-xs-12
  .block.the-book
    .user_content
      h1
        :php
          echo $book_blurb["header"];
      div
        :php
          echo $book_blurb["Content"];
.col-sm-6.book-bucket
  .block
    img(src="../../../../img/book-image.jpg",alt="")
.col-sm-6
  .block
    h2 Press
    blockquote The Best Bar Trivia Book Ever arms you with the knowledge your team needs to annihilate your bar trivia competition.
      a(href="http://www.nerdprobs.com/feature/book-review-the-best-bar-trivia-book-ever-all-you-need-for-pub-quiz-domination-by-michael-oneill/") ~ nerdprobs.com
    ul.press
      :php
        foreach($page_data['press'] as $val) {
          echo "<li><a href='".$val["link"]."'>" . $val["organization"] . "</a></li>";
        }
    h2 Retailers
      ul.retailers
        :php
          foreach($page_data['retailers'] as $val) {
            echo "<li><a href='". $val["Link"]."'><img src='" . $val["Image"]["path"] . "' alt='". $val["Name"]."' title='". $val["Name"]."' /></a></li>";
          }
