:php
  cockpit("forms:open", "dj");
.form-message-success
    p Thank You! I'll get back to as soon as I can
.row
  .col-sm-6
    label(for="name") Name
    input#name(name="form[name]")
  .col-sm-6
    label(for="business") Name of Your Business
    input#name(name="form[business]")
  .col-sm-12
    label(for="email") Email
    input#email(name="form[email]")
  .col-sm-12
    label(for="message") Message
    textarea#message(name="form[message]")
  .col-sm-12
    button.button(type="submit") Send
</form>
