header.row
  .col-6-s
    a(href="/")
      img(class="logo",alt="MCO Productions",src="img/logo.png")
  .col-6-s.header-right
    ul
      li New England Trivia &
      li Dj Services
      li
        a(href="tel:6175551223") 617-555-1223
      li
        a(href="#",class="email") info@mcoproductions.com
nav.row#main-nav
  .col-6-xs
    .hb-button
      span.hamburger
      p menu
  .col-6-xs.social
    p
      a.social-label(href="http://www.facebook.com/pages/Pop-Quiz-Team-Trivia/272936547653") LIKE US ON FACEBOOK
      a(href="http://www.facebook.com/pages/Pop-Quiz-Team-Trivia/272936547653",class="fa fa-facebook-square")
  .drop
    ul
      each page in locals.pages
        li
          if page.title==this_page.title
            - className = "current"
          if page.title!="404"
            a(href="/" + page.title_slug, class=className)
              span.fa(class=page.icon)
              span.pagetitle=page.title
